<% content_for :meta do %>
  <meta property="og:url" content="<%= request.original_url %>" />
  <meta property="og:title" content='VotoQuiz' />
<% end %>

<div class='container welcome text-center'>
	<h4>Não é necessário cadastrar-se no <strong>VotoQuiz</strong>, nem fornecer seu endereço de email. </h4>
  <h4> Para prosseguir basta entrar com sua conta do Facebook.</h4>
	<h4>O <strong>VotoQuiz</strong> não publica conteúdo em sua linha do tempo.</h4>
</div>
<br>
<div class='container text-center sign-in'>	
		<a class="btn btn-block btn-social btn-lg btn-facebook" href="#" id="sign_in">
		<i class="fa fa-facebook"></i>Entrar com Facebook</a>
</div>

<!-- Modal -->
<div class="modal fade" id="welcome" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h3 class="modal-title" id="myModalLabel"><strong>Introdução</strong></h3>
      </div>
      <div class="modal-body">
        <h3 class="text-justify">Bem-vindo ao <strong>VotoQuiz</strong>, aqui você pode testar seu conhecimento sobre as propostas dos candidatos à presidência do Brasil.</h3>
        <h3><p class="text-justify">Serão apresentadas onze propostas, cada uma correspondendo à um programa de governo.</p></h3>
        <h3><p class="text-justify">Após selecionar um candidato para cada uma das propostas, você poderá ver seu desempenho, além de estatísticas de acertos gerais e por eleitorado.</p></h3>
        <h3><strong>Boa sorte!</strong></h3>
      </div>        
    </div>
  </div>
</div>

<script type="text/javascript">
	$('#welcome').modal('show')
</script>