<div class='container text-center title'>
	<h1><strong class='instruction'>Selecione o candidato em que irá votar</strong></h1>
</div>

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-wrap="false" data-interval="false">
	<div class="carousel-inner">
		<div class="item active">
			<div class='container'>
				<div class="row">
					<% Candidate.all.each do |candidate| %>
						<div class="col-xs-2 col-sm-4 col-md-4 col-lg-2">
							<%= link_to image_tag("#{candidate.party.downcase}.jpg", class: "img-rounded", alt: candidate.name), '', class: 'thumbnail', data: { candidate: candidate.id } %>
							<div class="caption">
					      <h4 class='text-center'><%= candidate.name %></h4>
					     	<p class='text-center'><%= candidate.party %></p>
					    </div>
					  </div>					  
					<% end %>
					<div class="col-xs-2 col-sm-4 col-md-4 col-lg-2">
				   	<%= link_to image_tag("unknown_person.jpg", class: "img-rounded", alt: 'Nulo/Branco/Indeciso'), '', class: 'thumbnail', data: { candidate: '' } %>
				   	<div class="caption">
				      <h4 class='text-center'>Branco / Nulo / Indeciso</h4>
				    </div>
			    </div>
				</div>
			</div>
		</div>
		<% @items.all.each do |item| %>
			<div class="item">
				<div class='container'>
				 	<h2 class='text-center proposal'>
				 		<p><strong><%= item.proposal.topic %></strong></p>
				 		<p><i>&ldquo;<%= item.proposal.text %>&rdquo;</i><p>
				 	</h2>
				</div>
				
		 		<div class='container'>
			 		<div class="row">
						<% Candidate.all.each_with_index do |candidate, index| %>
							<div class="col-xs-2 col-sm-2 col-md-1 col-lg-1 thumbnail-div">
								<%= link_to image_tag("#{candidate.party.downcase}.jpg", class: "img-rounded", alt: candidate.name), '', class: 'thumbnail', data: {candidate: candidate.id } %>
								<div class="caption">
						      <h4 class='text-center'><%= candidate.name %></h4>
						     	<p class='text-center'><%= candidate.party %></p>
						    </div>
					    </div>
					    <% if index == 5 %>
					    	<div class="clearfix visible-sm-block"></div>
					    <% end %>					    
						<% end %>
						<div class="col-xs-2 col-sm-2 col-md-1 col-lg-1">
					   	<%= link_to image_tag("unknown_person.jpg", class: "img-rounded", alt: 'Nulo/Branco/Indeciso'), '', class: 'thumbnail', data: { candidate: '' } %>
					   	<div class="caption">
					      <h4 class='text-center'>Não sei</h4>
					    </div>
				    </div>
					</div>					
				</div>
			</div>
		<% end %>
	</div>
</div>
<div class='container'>
	<div class='pull-right buttons'>
		<button type="button" class="btn btn-danger btn-lg" disabled='disabled'>Corrige</button>
		<button type="button" class="btn btn-success btn-lg" disabled='disabled'>Confirma</button>
	</div>
</div>
<%= form_for @survey, url: survey_path(@survey) do |f| %>
	<%= f.hidden_field :temp_answers , class: 'answers'%>
	<%= f.hidden_field :id %>
	<%= f.submit '', class: "submit" %>
<% end %>

<script>
	var answer
	var answers = []
	$('a.thumbnail').on('click', function(e){
		e.preventDefault();
		$(e.currentTarget).parents('.row').children().children('a.thumbnail').removeClass('selected')
		$(e.currentTarget).addClass('selected')
		answer = $(e.currentTarget).data('candidate')
		$('.btn-success').removeAttr('disabled')
	})

	$('.btn-success').on('click', function(){		
		$('.carousel').carousel('next');		
		answers.push(answer)
		$('.btn-danger').removeAttr('disabled')
		$('.btn-success').attr('disabled', true)
		if(answers.length > 11){
			$('.answers').val(answers + '')
			$('.submit').trigger('click')
		} else {
			$('strong.instruction').text('Selecione o candidato ao qual a proposta corresponde (' + answers.length.toString() + '/11)')
		}
	})
	$('.btn-danger').on('click', function(){
		$('.carousel').carousel('prev');
		answers.pop()
		$('strong.instruction').text('Selecione o candidato ao qual a proposta corresponde (' + answers.length.toString() + '/11)')
		if ($.isEmptyObject(answers)){
			$('strong.instruction').text('Selecione o candidato em que irá votar')
			$('.btn-danger').attr('disabled', true)
		}
	})
</script>



