<% content_for :meta do %>
  <meta property="og:url" content="<%= request.original_url %>" />
  <meta property="og:title" content='Eu acertei <%= (@survey.accuracy * 100).round 2 %>% no VotoQuiz!' />
<% end %>

<% content_for :new_survey_link do %>
  <li><%= link_to 'Faça o teste', root_path, class: 'btn btn-success' %></li> 
<% end %>

<div class='container'>
	<h4>Eleitor <strong><%= @survey.user.name%></strong>, esses são os resultados do <strong>VotoQuiz</strong></h4>
	<div class="fb-share-button pull-right" data-href="<%= survey_url(@survey)%>" data-layout="button" data-width='1000'></div>
	<h1><strong>Acertos: <%= "#{@survey.results.count(true)} de #{@survey.answers.size} (#{(@survey.accuracy * 100).round 2}%)" %></strong></h1>
	<h4><strong><em>Clique sobre um candidato para ver o gráfico de acertos detalhado de seus eleitores</em></strong></h4>
</div>

<div class='container'>
	<div class="row">
		<% @survey.correct_answers.each do |correct_answer| %>
			<% candidate = Candidate.find correct_answer %>
			<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 thumbnail-div">				
				<%= link_to image_tag("#{candidate.party.downcase}.jpg", class: "img-rounded", alt: candidate.name), '', class: 'thumbnail', data: { candidate: candidate.number } %>				 
				<div class="caption">
		      <h4 class='text-center'><%= candidate.name %></h4>
		     	<p class='text-center'><%= candidate.party %></p>		     	
		    </div>		    
   		</div>
		<% end %>
   <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 thumbnail-div">        
      <%= link_to image_tag("unknown_person.jpg", class: "img-rounded", alt: 'Nulo/Branco/Indeciso'), '', class: 'thumbnail', data: { candidate: 'nil' } %>        
      <div class="caption">
        <h4 class='text-center'>Branco / Nulo / Indeciso</h4>             
      </div>        
    </div> 
	</div>
	<div class="row">
		<% @survey.correct_answers.each_with_index do |correct_answer, index| %>
			<% @survey.results[index] ? result = 'fa-check' : result = 'fa-times' %>
			<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 thumbnail-div">
				<p class='text-center'><span class="fa <%= result %> fa-4x"></span></p> 
			</div>
		<% end %>
	</div>
</div>

<div class='container general'></div>
<div class='container intention'></div>
<div class='container electors'></div>
<div class='container graph graph-nil'></div>
<% Candidate.all.each do |candidate| %>
	<div class='container graph graph-<%= candidate.number %>'></div>
	
	<script type="text/javascript">
		$(function () {
			$('.graph-<%= candidate.number %>').highcharts({
				chart: {
            type: 'column'
        },
        title: {
            text: '<%= candidate.name %>'
        },
        subtitle: {
            text: 'Porcentagem de acertos detalhado por eleitorado'
        },
        xAxis: {
        		labels: {
                enabled: false
            }
        },
        yAxis: {
            min: 0,
            max: 100,
            title: {
                text: 'Acertos %'
            }
        },
        tooltip: {
            headerFormat: '<span style="font-size:10px"></span><table>',
            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                '<td style="padding:0"><b>{point.y:.1f} %</b></td></tr>',
            footerFormat: '</table>',
            shared: true,
            useHTML: true
        },
        plotOptions: {
            column: {
                pointPadding: 0.2,
                borderWidth: 0
            }
        },
        series: [
        	<% Candidate.all.each_with_index do |other_candidate, index|%>
        		<% data = Array.new(11).fill(nil) %>
        		<% data[index] = (Candidate.correct_answers_pct_by_electors(candidate.id, other_candidate.id) * 100).round 2 %>
            {pointWidth: 60,
            name: '<%= other_candidate.name %>',
            data: <%= data.to_json %>},
          <% end %> 
          {pointWidth: 60,
            <% data = Array.new(12).fill(nil) %>
            <% data[11] = (Candidate.skipped_answers_pct_by_electors(candidate.id) * 100).round 2 %>
            name: 'Não sei',
            data: <%= data.to_json %>}           
        ]
      })
    });
	</script>

<% end %>

<br>
<div class='container text-center'>
  <div class='btn-group'>
  	<button type="button" class="btn btn-primary btn-lg general" data-toggle="tooltip" data-placement="top" title="Mostrar porcentagem de acertos das propostas, independente da intenção de voto">Mostrar gráfico de acertos geral</button>
    <button type="button" class="btn btn-primary btn-lg electors" data-toggle="tooltip" data-placement="top" title="Mostrar porcentagem de acertos total por eleitorado de cada candidato">Mostrar gráfico de acertos por eleitorado</button>
    <button type="button" class="btn btn-primary btn-lg intention" data-toggle="tooltip" data-placement="top" title="Mostrar porcentagem de intenções de voto até o momento">Mostrar intenções de voto</button>
  </div>
</div>

<script type="text/javascript">
  $(function () {
    $('.graph-nil').highcharts({
      chart: {
          type: 'column'
      },
      title: {
          text: 'Branco / Nulo / Indeciso'
      },
      subtitle: {
          text: 'Porcentagem de acertos detalhada por eleitores'
      },
      xAxis: {
          labels: {
              enabled: false
          }
      },
      yAxis: {
          min: 0,
          max: 100,
          title: {
              text: 'Acertos %'
          }
      },
      tooltip: {
          headerFormat: '<span style="font-size:10px"></span><table>',
          pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
              '<td style="padding:0"><b>{point.y:.1f} %</b></td></tr>',
          footerFormat: '</table>',
          shared: true,
          useHTML: true
      },
      plotOptions: {
          column: {
              pointPadding: 0.2,
              borderWidth: 0
          }
      },
      series: [
        <% Candidate.all.each_with_index do |other_candidate, index|%>
          <% data = Array.new(11).fill(nil) %>
          <% data[index] = (Candidate.correct_answers_pct_by_electors(nil,other_candidate.id) * 100).round 2  %>
          {pointWidth: 60,
          name: '<%= other_candidate.name %>',
          data: <%= data.to_json %>},
        <% end %> 
        {pointWidth: 60,
          <% data = Array.new(12).fill(nil) %>
          <% data[11] = (Candidate.skipped_answers_pct_by_unsure * 100).round 2 %>
          name: 'Não sei',
          data: <%= data.to_json %>}           
      ]
    })
  });
</script>

<script type="text/javascript">
	$( "a.thumbnail" ).on( "click", function(e) {
		e.preventDefault();
		$('div.general').hide();
    $('div.intention').hide();
    $('div.electors').hide();
		$('.graph').hide();
		candidate_number = $(e.currentTarget).data('candidate');
		$('.graph-' + candidate_number.toString()).show();		
	});


	$( "button.general" ).on( "click", function() {
		$('.graph').hide();
    $('div.intention').hide();
    $('div.electors').hide();
		$('div.general').show();
	});

  $( "button.intention" ).on( "click", function() {
    $('.graph').hide();
    $('div.general').hide();
    $('div.electors').hide();
    $('div.intention').show();
  });

  $( "button.electors" ).on( "click", function() {
    $('.graph').hide();
    $('div.general').hide();
    $('div.intention').hide();
    $('div.electors').show();
  });

  $('button.btn').tooltip();

	$(function () {
		$('.general').highcharts({
			chart: {
          type: 'column'
      },
      title: {
          text: 'Resultado geral'
      },
      subtitle: {
          text: 'Porcentagem de acertos geral'
      },
      xAxis: {
      		labels: {
              enabled: false
          }
      },
      yAxis: {
          min: 0,
          max: 100,
          title: {
              text: 'Acertos %'
          }
      },
      tooltip: {
          headerFormat: '<span style="font-size:10px"></span><table>',
          pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
              '<td style="padding:0"><b>{point.y:.1f} %</b></td></tr>',
          footerFormat: '</table>',
          shared: true,
          useHTML: true
      },
      plotOptions: {
          column: {
              pointPadding: 0.2,
              borderWidth: 0
          }
      },
      series: [
      	<% Candidate.all.each_with_index do |candidate, index|%>
      		<% data = Array.new(11).fill(nil) %>
      		<% data[index] = (candidate.correct_answers_pct_total * 100).round 2 %>
          {pointWidth: 60,
          name: '<%= candidate.name %>',
          data: <%= data.to_json %>},
        <% end %>
        {pointWidth: 60,
            <% data = Array.new(12).fill(nil) %>
            <% data[11] = (Candidate.skipped_answers_pct * 100).round 2 %>
            name: 'Não sei',
            data: <%= data.to_json %>} 
      ]
    })
  });

  $(function () {
    $('.electors').highcharts({
      chart: {
          type: 'pie'
      },
      title: {
          text: 'Resultado por eleitorado'
      },
      subtitle: {
          text: 'Porcentagem de acertos por eleitorado'
      },
      tooltip: {
           pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
      },
      plotOptions: {
          pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
              enabled: true,
              format: '<b>{point.name}</b>: {point.percentage:.1f} %',
              style: {
                color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
              }
            }
          }
      },

       series: [{
        name: 'Brands',
        colorByPoint: true,
        data: [
          <% Candidate.all.each do |candidate|%>
          {
            name: '<%= candidate.name %>',
            y: <%= (candidate.correct_answers_by_electors_pct_total * 100).round 2 %>
          },
          <% end %>
        {
            
        }]
      }]
      
    })
  });

  $(function () {
    $('.intention').highcharts({
      chart: {
          type: 'column'
      },
      title: {
          text: 'Intenção de votos'
      },
      subtitle: {
          text: 'Porcentagem de eleitores por candidato'
      },
      xAxis: {
          labels: {
              enabled: false
          }
      },
      yAxis: {
          min: 0,
          max: 100,
          title: {
              text: 'Acertos %'
          }
      },
      tooltip: {
          headerFormat: '<span style="font-size:10px"></span><table>',
          pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
              '<td style="padding:0"><b>{point.y:.1f} %</b></td></tr>',
          footerFormat: '</table>',
          shared: true,
          useHTML: true
      },
      plotOptions: {
          column: {
              pointPadding: 0.2,
              borderWidth: 0
          }
      },
      series: [
        <% Candidate.all.each_with_index do |candidate, index|%>
          <% data = Array.new(11).fill(nil) %>
          <% data[index] = (Survey.candidate_pct(candidate.id) * 100).round 2 %>
          {pointWidth: 60,
          name: '<%= candidate.name %>',
          data: <%= data.to_json %>},
        <% end %>
        {pointWidth: 60,
            <% data = Array.new(12).fill(nil) %>
            <% data[11] = (Survey.unsure_pct * 100).round 2 %>
            name: 'Branco/Nulo/Não sei',
            data: <%= data.to_json %>} 
      ]
    })
  });
</script>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/pt_BR/sdk.js#xfbml=1&appId=682301135194279&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<!-- resultado geral dos participantes -->