/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require font-awesome
 *= require_tree .
 *= require_self
 */
.main{
	margin-top: 50px;
	color: #777;
}

.navbar{
	background-color: #000;
	font-size: 20px;
}

.navbar-brand{
	padding: 0px;
}

.brand{
	color: white;
	font-size: 24px;
}

li a.btn-success{
	color: white !important;
	font-size: 20px;
}

.title{
	margin-top: 15px;
}

.welcome{
	margin-top: 150px;
}

.sign-in{
	width: 300px;
}

.row{
	margin-right: 20px;
}

.caption p {
	margin-top: -8px;
	font-style: italic;
}

.proposal{
	height: 400px;
  display: table-cell;
  vertical-align: middle;
}

.submit{
	display: none;
}

.thumbnail{
	margin-bottom: 0px;
	border: 4px solid #ddd;	
}

.selected{
	border-color: #2a6496;	
}

.buttons{
	margin-right: 20px;
}

.fb-share-button{
	margin-top: -25px;
}

.graph{
	display: none;
}

div.intention{
	display: none;
}

div.electors{
	display: none;
}

body{
	background-color: #222;
}