<!DOCTYPE html>
<html>
<head>
  <title>VotoQuiz</title>
  <meta property="og:image" content="<%= image_url('logo.png') %>" />
  <meta property="og:locale" content="pt_BR" />
  <meta property="og:description" content='VotoQuiz é um desafio criado para os eleitores brasileiros. Você é capaz de identificar um candidato através de suas propostas? Faça o teste!' />
  <%= yield :meta %>
  
  <%= favicon_link_tag 'favicon.ico' %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <%= image_tag 'logo.png', class:"navbar-brand" %>     
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a class='brand-link' href="#"><strong class='brand'>VotoQuiz</strong></a> </li>
      </ul> 
      <ul class="nav navbar-nav pull-right">
        <li><a href="#" data-toggle="modal" data-target="#ajuda">Ajuda</a></li>
        <li><a href="#" data-toggle="modal" data-target="#sobre">Sobre</a></li>
        <% if current_user.present? %>
          <li><%= link_to "Sair", signout_path, id: "sign_out" %></li>
        <% else %>
          <%= yield :new_survey_link %>
        <% end %>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>

<div class='main'>
<%= yield %>

<!-- Modal -->
  <div class="modal fade" id="sobre" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h3 class="modal-title" id="myModalLabel"<strong><strong>>Sobre</strong></h3>
        </div>
        <div class="modal-body">
          <h3 class="text-justify"><p><strong>VotoQuiz</strong> é uma iniciativa independente, cujo objetivo é construir um panorama geral da relação eleitor-candidato, considerando a identificação correta de propostas concretas contidas nos programas de governo. <p>
        </div>        
      </div>
    </div>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="ajuda" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h3 class="modal-title" id="myModalLabel"><strong>Ajuda</strong></h3>
        </div>
        <div class="modal-body">
          <h3 class="text-justify"><p>Você deverá primeiramente escolher o candidato em que deseja votar. Em seguida, serão apresentadas propostas de cada um dos candidatos.</p></h3>
          <h3 class="text-justify"><p> Você deverá identificar o autor da proposta, selecioná-lo e clicar em confirmar para passar para a próxima proposta.</p></h3>
          <h3 class="text-justify"><p>Em qualquer momento é possível corrigir as respostas anteriores. Ao final será exibido um relatório apresentando a porcentagem de acertos geral, e por eleitores de cada candidato.</p></h3>
        </div>        
      </div>
    </div>
  </div>
</div>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-55154851-1', 'auto');
  ga('require', 'displayfeatures');
  ga('send', 'pageview');

</script>

</body>
</html>

